
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div style="margin-left:20px;font-size:16px;">
    <h2>THÔNG TIN SINH VIÊN</h2>
    <table>
        <tr>
            <td><b>Mã số sinh viên:</b></td>
            <td> 61134311</td>
        </tr>
        <tr>
            <td><b>Tên sinh viên:</b></td>
            <td> Nguyễn Lê Thành Tâm</td>
        </tr>
        <tr>
            <td><b>Lớp: </b></td>
            <td> 61.CNTT-1</td>
        </tr>
        <tr>
            <td><b>Ngày kiểm tra:</b></td>
            <td> 17-5-2022</td>
        </tr>
        <tr>
    </table>
    
</div>